  
  table {
    border: 2px solid black;
    border-collapse: collapse;
    height: 50em;
  }
  
  tr {
    border-top: 1px solid black;
  }
  
  .list {
    list-style-type: none;
    background-color: lightgray;
    margin-left: 4em;
    margin-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .section {
    padding: 5px;
    font-size: 1.5em;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
 p {
   font-size: large;
 }